scipy
numpy>1.1
matplotlib
pandas
myst_nb
sphinx
ablog
sphinxcontrib-bibtex
sphinxext-opengraph
sphinx-panels
pydata-sphinx-theme
folium
xarray
cartopy
cython>0.15.1  # cartopy dependency
git+https://git@github.com/pvlib/pvlib-python@master#egg=pvlib