scipy
numpy
matplotlib
pandas
myst_nb
sphinx
ablog
sphinxcontrib-bibtex
sphinxext-opengraph
sphinx-panels
pydata-sphinx-theme
folium
xarray
git+https://git@github.com/pvlib/pvlib-python@master#egg=pvlib